<div class="bg-white border rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300">
  <div class="flex flex-row items-center justify-between p-4 border-b">
    <div>
      <h3 class="text-sm">{{ title }}</h3>
    </div>
    <div class="p-2 rounded-lg bg-{{ color }}-50">
      <i data-lucide="{{ icon }}" class="w-8 h-8 text-{{ color }}-500"></i>
    </div>
  </div>
  <div class="p-4">
    <div class="text-3xl text-{{ color }}-600">{{ value }}</div>
  </div>
</div>
